.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comment-box{
  position:absolute;
  width: 899px;
  height: 431px;
  left: 270px;
  top: 260px;
  background: #EEEEEE;
  border-radius: 5px;
 
 
 }
 
 
 
 .comment-form textarea{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 0px;
 gap: 3px;
 
 position: absolute;
 width: 817px;
 height: 55px;
 left: 26px;
 top: 184px;
 
 background: #EEEEEE;
 }
 
 .submit-btn{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 13px 35px;
   gap: 10px;
 
   position: absolute;
   width: 119x;
   height: 50px;
   left: 722px;
   top: 318px;
 
   background: #1C5555;
   border-radius: 5px;
 }
 
   
 .lable{
   position: absolute;
   width: 184px;
   height: 22px;
   left: 50px;
   top: 122px;
 
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
 
   color: #000000;
 
 }
 
 